.flex {
  display: flex; }

.flex-direction-column {
  flex-direction: column; }

.flex-direction-columnreverse {
  flex-direction: column-reverse; }

.text-align-center {
  text-align: center; }

.justify-content-center {
  justify-content: center; }
